body {
    margin: 30px;
    background-color: #00203F;
}
button {
    /* color: #FFF; */
    background-color: 	#468189;
    
}
p {
    color: #a0f0cf;
    margin: auto;
    padding:20px;
    font-size: large;

}

hr {
    height:2px;border-width:0;color:#a0f0cf;background-color:#a0f0cf
}

h2 {
    color: #a0f0cf;

}


.demos {
    margin: auto;
    width: 50%;
}

.btn-primary {
    background-color: 	#468189;
}

/* -------------------- Demo 1 ------------------ */

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    display: block;
}

/* -------------------- Demo 2------------------ */
.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

/* -------------------- Demo 3 ------------------ */

.movearea {
    transition: 0.2s background-color ease;
  }
  

.img {
    padding: 20px;
    max-width: 100%;
}

/* -------------------- Demo 4 ------------------ */


  
.bounce-enter-active {
animation: bounce-in .5s ease-out both;
}

.bounce-leave-active {
animation: bounce-in .5s reverse ease-in both;
}

@keyframes bounce-in {
0% {
    transform: scale(0);
}
50% {
    transform: scale(1.25);
}
100% {
    transform: scale(1);
}
}

/* -------------------- Demo 5 ------------------ */

.box {
    width: 30px;
    height: 30px;
    background: teal;
    margin-top: 20px;
}

/* -------------------- Demo 6 ------------------ */

  

  

  
  .mode-fade-enter-active, .mode-fade-leave-active {
    transition: opacity .5s ease
  }
  
  .mode-fade-enter-from, .mode-fade-leave-to {
    opacity: 0
  }
